.logo {
  z-index: 1;
}

.login-logout-form form {
  top: 20%;
  right: 0;
  left: 0;
  background: #0000008f;
  width: 25%;
  padding: 20px;
  color: #fff;
  margin: 0 auto;
}

.login-logout-form img {
  width: 100%;
}

.logout {
  cursor: pointer;
}

.logout img {
  width: 60px;
  padding: 10px;
}

.trailervideo iframe {
  pointer-events: none;

}



.trailertext {
  position: absolute;
  top: 40%;
  right: 0;
  z-index: 2;
}

.logout {
  z-index: 2;
  position: relative;
}




.cards-wrapper {
  grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);

}

.cards-wrapper .card {
  display: grid;
  place-content: center;
  background-color: #d0f0ee;
  color: #15928a;
  font-size: 1.5rem;
  height: 20rem;
  min-width: 13rem;
}

.cards-wrapper .card img {
  width: 100%;
}

.header {
  /* background: black; */
}

.gptsearch-icon {
  position: absolute;
  top: 42%;
  width: 60%;
  background: black;
  margin: 0 auto;
  right: 0;
  left: 0;
  padding: 10px;
}